.hero_btn{
    background: linear-gradient(104deg, rgba(253,253,254,1) 0%, rgba(11,219,195,1) 0%, rgba(0,212,255,1) 100%);

}

.banner_hero{
    background-image: url(./Assets/Images/bg.png);
    background-size: cover;
    background-position: center center;
}

.footer-bg{
    background-image: url(./Assets/Images/footer.png);
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .2);
}